@import "tailwindcss";
@import "@heroui/styles"; 

body{
    background-color: white;
    font-family: var(--font-geist-sans);
}

.font-playFair{
    font-family: var(--font-playfair-display);
}

.font-geist{
    font-family: var(--font-geist-sans);
}